html {
    scroll-behavior: smooth;
}

:root {
    --gray-color: #2F2F2F;
    --darkorange-color: #dda919;
    --orange-color: #ecb90f;
    --light-color: #FDF7F0;
}

body {
    font-family: "Poppins", "Open Sans", Arial, Helvetica;
}

.container {
    position: relative;
}

#text-bold {
    color: #ecb90f;
    font-weight: bolder;
}

.item {
    color: var(--grey-color) !important;
    font-weight: bold;
}

.item:hover {
    color: var(--darkorange-color) !important;
}

.itemtitle {
    color: var(--orange-color) !important;
    font-weight: bold;
    margin: 4px 24px;
    display: flex;
    align-items: center;
}

.itemtitle:hover {
    color: var(--darkorange-color) !important;
}

nav button {
    border: none;
    border-radius: 8px;
    outline: 0;
    display: inline-block;
    padding: 10px 16px;
    margin-right: 12px;
    color: var(--light-color);
    background-color: var(--orange-color);
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

nav button:hover {
    color: var(--light-color);
    background-color: var(--gray-color);
}

footer {
    background-color: var(--gray-color);
    padding: 80px 200px 40px 200px;
    line-height: 1.6em;
}

footer h4 {
    color: var(--orange-color);
    font-weight: bold;
}

footer a {
    color: var(--light-color);
}

footer a:hover {
    color: var(--orange-color);
}

footer .button-filled {
    border: none;
    border-radius: 8px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: var(--light-color);
    background-color: var(--orange-color);
    text-align: center;
    cursor: pointer;
}

footer .button-filled:hover {
    text-decoration: underline;
    color: var(--gray-color);
    background-color: var(--light-color);
}

footer .dark-text h2 {
    color: var(--orange-color)
}

footer .dark-text {
    color: var(--light-color)
}

.button-filled {
    border: none;
    border-radius: 8px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: var(--light-color);
    background-color: var(--orange-color);
    text-align: center;
    cursor: pointer;
}

.button-filled:hover {
    text-decoration: underline;
    border-radius: 8px;
    background-color: var(--gray-color);
    color: white;
}

.button-unfilled {
    border-color: var(--orange-color);
    border-width: 1px;
    border-radius: 8px;
    display: inline-block;
    padding: 10px 25px;
    color: var(--orange-color);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.button-unfilled:hover {
    text-decoration: underline;
    border-radius: 8px;
    background-color: var(--orange-color);
    color: white;
}

.button-translucent {
    border-color: transparent;
    border-radius: 8px;
    border-width: 0px;
    display: inline-block;
    padding: 10px 25px;
    color: var(--light-color);
    background-color: var(--darkorange-color);
    text-align: center;
    cursor: pointer;
}

.button-translucent:hover {
    text-decoration: underline;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: var(--darkorange-color);
}